.menu-item {
    text-align: center;
    background-color: yellowgreen;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    margin: 1px 4px 0px;
}

.table {
    background-color: burlywood;
}